{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% placeholder "content" %}
{% endblock content %}

{% block blog_app %}
    <div class="container space-2 space-3-bottom--lg">  
      <div class="row">

        {% block blog_app_content%}

        {% endblock blog_app_content%}


        <div class="col-lg-3">
          <!-- Search Input -->
          <form class="js-focus-state input-group input-group-sm form form--sm mb-7">
            <input type="text" class="form-control form__input" name="search"
                   placeholder="Search Space"
                   aria-label="Search Space">
            <span class="input-group-append form__append">
              <button type="submit" class="btn btn-primary">Go</button>
            </span>
          </form>
          <!-- End Search Input -->

          <!-- Recent Posts -->
          <div class="mb-7">
            <h3 class="h5 mb-3">Recent posts</h3>

            <div class="border rounded p-4">
              <!-- Recent Posts List -->
              {% placeholder 'latest_posts' %}
              <!-- End Recent Posts List -->
            </div>
          </div>
          <!-- End Recent Posts -->

          <!-- Categories -->
          {% static_placeholder 'categories' %}
          <!-- End Categories -->
        </div>
      </div>
    </div>
{% endblock blog_app %}
