{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<div class="col-sm-6">
    <a 
        {% if provider.name.lower == "facebook" %}
        href="{% provider_login_url "facebook" method="js_sdk" %}"
        {% else %}
        href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
        {% endif %}
        class="btn btn-block btn-{{provider.name.lower}}"
    >
        <i class="fab fa-{{provider.name.lower}} mr-2"></i>
        {{process_caption}} {{provider.name}}
    </a>              
</div>
{% endfor %}
